@extend base.html

{% block content %}
<div class="offers">
{% for (var cat in data.all) { %}
{% var offers = data.all[cat]; %}
    {% if (offers.isEmpty()) continue; %}
    <a href="#" class="offers-title">{# cat.getName() #}<div class="more">Ещё</div></a>
    
    {% for (var k in offers ) { %}
        {% var offer = offers[k]; %}
        <div class="offers-list">
            <a class="offer" href="#">
                <div class="image"><img src="assets/offers/{# offer.getPic() #}"/></div>
                <div class="info">
                    <div class="profit"><div class="quantity">-50%</div></div>
                    <div class="title">{# offer.getName() #}</div>
                </div>
                <div class="decription">
                    <div class="text">{# offer.getDescription() #}</div>
                </div>
            </a>
        </div>
    {% } %}
{% } %}
</div>
{% endblock %}
