@extend base.html

{% block title %} - {# data.offer.getName() #}{% endblock %}

{% block actionbar %}{% if(data.curCat !== 0) { %}
<a class="action-element">{# data.curCatName #}</a>
{% } %}
<a class="action-element">{# data.offer.getName() #}</a>
<a class="action-element">Получить купон</a>
{% endblock %}

{% block content %}
<h3>Получение купона</h3>
<div class="getkupon">
<p>Для получения купона нужно нажать на кнопку "Поделиться" и создать репост предложенной записи у вас на стене. После этого, этот репост должен продержатся на стене не менее 24 часа. По истечению этого времени вы будете уведомлены через электронную почту о том, что ваш купон создан и готов к использованию.</p>
<p>Итак, приступим!</p>
<p>
<span id="vk-button"><a target="_blank" data-oid="{# data.offer.getId() #}" data-image="{# api.that('assets/offers' + data.offer.getPic()) #}" data-title="{# api.urlencode(data.offer.getName()) #}" data-desc="{# api.urlencode(data.offer.getVkDescription()) #}" data-url="{# api.that('offer/' + data.hid.encode(data.offer.getId())) #}">Поделиться</a></span> 
</p>
</div>
{% endblock %}