@extend base.html

{% block title %} - Мои купоны{% endblock %}

{% block actionbar %}<a class="action-element">Мои купоны</a>{% endblock %}

{% block content %}
<h2>Мои купоны</h2>
<div class="kupons">
    {% for(var k in data.kupons ) { %}
    {% var kupon = data.kupons[k]; %}
    <a class="kupons-element" href="#">
        <div class="title">{# kupon.name #}</div>
        
        <div class="info">Осталось использований: {# kupon.uses #}</div>
        <div class="info"><b>{# kupon.kupon.toUpperCase() #}</b></div>
        <div class="info">{# (new java.text.DecimalFormat("#.##")).format(kupon.discount) #}%</div>
    </a>
    {% } %}
</div>
{% endblock %}